@charset "UTF-8";

/* This file is released into the public domain */

body
{
    max-width: 30em;
    margin: auto auto;
}

form
{
    font-size: large;
    margin: 20px auto;
    width: 100%;
}

*#question
{
    font-size: inherit;
    padding: 5px;
    margin: 2px 0px;
    width: 70%;
}

*#ask
{
    padding: 3px;
    font-weight: bold;
    font-size: inherit;
}

div.answer
{
    vertical-align: top;
}

*#robot
{
    width: 40%;
    float: left;
    background: white;
    padding: 5px;
    margin: 0px 15px 0px 0px;
}

.unanswered
{
    display: none
}

p.answered
{
    font-family: Lucidatypewriter, monospace;
    color: white;
    background: red;
    padding: 10px;
    font-size: x-large;
    margin: 10px 10px 0px 10px;
}

a
{
    color: inherit;
}

.footer
{
    padding: 1em;
    font-size: x-small;
    clear: both;
}

*#speechtick
{
    max-width: 50px;
	max-height: 20px;
}
