@charset "UTF-8";

body
{
    max-width: 30em;
    margin: auto auto;
}

form
{
    margin: 20px auto;
    width: 100%;
}

*#question
{
    padding: 5px;
    margin: 2px 0px;
    width: 70%;
}

*#ask
{
    padding: 3px;
    font-weight: bold;
}

div.answer
{
    vertical-align: top;
}

*#robot
{
    width: 40%;
    float: left;
    background: white;
    padding: 5px;
    margin: 0px 15px 0px 0px;
}

.unanswered
{
    display: none
}

p.answered
{
    font-family: Lucidatypewriter, monospace;
    color: white;
    background: red;
    padding: 10px;
    font-size: x-large;
}

.footer
{
    padding: 1em;
    font-size: x-small;
    clear: both;
}

.twitbird
{
    max-width: 3em;
    vertical-align: middle;
}