@charset "UTF-8";

body
{
    max-width: 30em;
    margin: auto auto;
}

form
{
    margin: 20px auto;
    width: 100%;
}

*#question
{
    padding: 5px;
    margin: 2px 0px;
    width: 70%;
}

*#ask
{
    padding: 3px;
    font-weight: bold;
}

*#answer
{
    display: inline;
    vertical-align: top;
    font-family: Lucidatypewriter, monospace
}

*#robot
{
    width: 40%;
    float: left;
}
