<!DOCTYPE HTML>
<html>
    <head>
        <!--
        Copyright 2012 Daniel Kinsman

        This file is part of Decisive Robot.

        Decisive Robot is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        Decisive Robot is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with Decisive Robot.  If not, see <http://www.gnu.org/licenses/>.
        -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>Decisive Robot</title>
    </head>
    <body>
        <form>
            
            {% if question %}
            <input id="question" type="text" value="{{ question }}">
            {% else %}
            <input id="question" type="text" value="Should I cook or get take away?">
            {% endif %}

            <button id="ask">?</button>
        </form>

        <img id="robot" src="decisiverobot.svg" alt="a decisive looking robot">
        <div class="answer">

        {% if answer %}
        <p id="answer" class="answered">{{ answer }}</p>
        <img src="speechtick.svg" class="none" id="speechtick" alt="speech bubble">
        {% else %}
        <p id="answer" class="unanswered"></p>
        <img src="speechtick.svg" class="unanswered" id="speechtick" alt="speech bubble">
        {% endif %}

        </div>

        <div class="footer">
            <p>Tweet your questions to <a href="https://twitter.com/DecisiveRobot">@DecisiveRobot</a></p>

            {% if questionurl %}
            <p><a href="/about.html">about</a><span class="none"> | <a id="externallink" href="{{ questionurl }}">link</a> to this question</span></p>
            {% else %}
            <p><a href="/about.html">about</a><span class="unanswered"> | <a id="externallink" href="">link</a> to this question</span></p>
            {% endif %}
        </div>

        <script src="jquery.js"></script>
        <script src="script.js"></script>
    </body>
</html>
