<!DOCTYPE HTML>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css; charset=utf-8">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Decisive Robot</title>
    </head>
    <body>
        <form>
            
            {% if question %}
            <input id="question" type="text" value="{{ question }}">
            {% else %}
            <input id="question" type="text" value="Should I cook or get take away?">
            {% endif %}

            <button id="ask">?</button>
        </form>

        <img id="robot" src="decisiverobot.svg">
        <div class="answer">

        {% if answer %}
        <p id="answer" class="answered">{{ answer }}</p>
        <img src="speechtick.svg" class="none" id="speechtick">
        {% else %}
        <p id="answer" class="unanswered"></p>
        <img src="speechtick.svg" class="unanswered" id="speechtick">
        {% endif %}

        </div>

        <div class="footer">
            <p>Tweet your questions to <a href="https://twitter.com/DecisiveRobot"><img class="twitbird" src="https://twitter.com/images/resources/twitter-bird-light-bgs.png">@DecisiveRobot</a></p>

            {% if question %}
            <p class="none"><a id="externallink" href="http://decisiverobot.com/?question={{ question }}">External link</a> to this question</p>
            {% else %}
            <p class="unanswered"><a id="externallink" href="">External link</a> to this question</p>
            {% endif %}
        </div>

        <script src="jquery.js"></script>
        <script src="script.js"></script>
    </body>
</html>